 *{
    padding: 0;
    margin: 0;
 }

 /*front page*/
 #front{
    background-image: url(front-img.jpg) ;
    height: 600px;
    width:1350px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
 }
 #header{
    padding-top: 40px;
    color:rgb(83, 78, 78);
    font-family:Arial;
    text-transform:uppercase;
    height:50px;
    text-align:center;
    font-size: 30px;
 }
#extra{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
}
#footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(174, 165, 185);
}
a{
    text-decoration:none;
 }
.main{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px;
    margin-top: 140px;
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    text-align: center;
    line-height: 30px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main #intro{
    font-size: 20px;
    font-family: cursive;
    line-height: 35px;
}

/*navbar*/
#navbar{
    background-color: rgb(85, 90, 102);
    height:50px;
}
#white{
    color:white;
    margin-right: 150px;
}
#yellow{
    color:yellow;
    margin-right: 200px;
    font-size: 30px;
}



/*login page*/
#login{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('login-page-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.loginbox{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 4px black;
}
input{
    margin: 4px 0px;
    height:25px;
    padding:7px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
}
input::placeholder{
    color: white;
}
.loginbox h1{
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
    color: rgba(128, 33, 33, 0.801);
    line-height: 80px;
}
#user+label,#admin+label{
        color:rgba(255, 255, 255, 0.904);
        font-size:20px;
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
}
#submitbtn{
    background-color: white;
    color:black;
    width: 100%;
    height:45px;
    margin-left: -55px;
    margin-top: 10px;
    outline:none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
}

/*explore*/
#explore{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('cities-image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.explorebox{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 3px brown;
}
.citybtn{
    background-color: #ffe6a7;
    color:#150201;
    width: 90%;
    height:50px;
    outline:none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 22px;
}
#intro{
    color: #150201;
    line-height: 40px;
    font-family: Verdana;
    text-align: center;
    font-size: 28px;
}

/*tour package*/
#pack{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('pack-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.packagebox{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 3px skyblue;
}
.para{
    text-align: justify;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}
.packagebox input{
    margin-bottom: 1px;
    margin-top: 5px;
}
.cityselect{
    position: relative;
    padding:10px 10px 10px 10px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 15px;
    text-align: justify;
    color:#333;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor:pointer;
    user-select: none;
    box-shadow: 0 0px 5px white;
}
#applybtn{
    background-color: white;
    color:black;
    width: 100%;
    height:45px;
    outline:none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
}

/*lko*/
#lko{
    background-image: url(lko-intro-img.jpg);
    height: 500px;
    width:1350px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
#lkoname{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-top: 220px;
    padding-left: 250px;
    text-align: center;
    font-size: 80px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#lkointro{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    padding-bottom: 20px;
    margin-top: -220px;
    margin-left: 750px;
    border: 2px solid black;
    color:black;
    border-radius: 10px;
    box-shadow: 0 0 6px black;
    background-color: transparent;
    backdrop-filter: blur(20px);
    text-align: center;
    line-height: 40px;
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#taglinelko{
    font-size: 25px;
    font-weight: 50;
}
#lkohistory{
    background-color: black;
    height: 620px;
    width:1350px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#histhead{
    display: flex;
    flex-direction: column;
    position:relative;
    width: auto;
    float: right;
    padding:10px;
    padding-bottom: 20px;
    padding-top:20px;
    padding-left:60px;
    padding-right: 80px;
    margin-top: 5px;
    margin-left: auto;
    text-align: right;
    font-size: 40px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#histlist{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    margin-top: -1%;
    margin-left: 670px;
    color:white;
    text-align: justify;
    line-height: 33px;
    font-size:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#lkohist-img{
    width:635px;
    height: 620px;
    object-fit: cover;
    float: left;
    margin-right: 5px;
}
#culturelko{
    background-color: black;
    height: 390px;
    width:1350px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}
#culturehead{
    display: flex;
    flex-direction: column;
    position:relative;
    width: auto;
    float: left;
    padding:10px;
    padding-bottom: 20px;
    padding-top:20px;
    padding-left:60px;
    padding-right: 80px;
    margin-top: 5px;
    margin-left: auto;
    text-align: right;
    font-size: 40px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#culturelist{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    margin-top: -1%;
    margin-left: 40px;
    float:left;
    color:white;
    text-align: justify;
    line-height: 33px;
    font-size:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cultureimglko{
    width:635px;
    height: 390px;
    object-fit: cover;
    float: right;
    margin-left: 5px;
}

.para{
    font-size: 18px;
    color: black;
    line-height: 30px;
}
.place{
    line-height: 50px;
}
.month{
    font-weight: bold;
    font-size: 19px;
    line-height: 35px;
}


#lucknow{
    background-color: #f2f2f2;
}
